#canvas-wrapper {
  .App-toolbar__divider {
    display: none;
  }
  button[title="More tools"] {
    display: none;
  }
  label[title="Insert image — 9"] {
    display: none;
  }
  label[title="Keep selected tool active after drawing — Q"] {
    display: none;
  }
  label[title="Text — T or 8"] {
    display: none;
  }
  label[title="Draw — P or 7"] {
    display: none;
  }
  label[title="Library"] {
    display: none;
  }
  label.MuiInputLabel-outlined {
    color: #9333ea;
  }
  .MuiFormControl-root svg {
    color: #9333ea;
  }
  .selected-shape-actions,
  .undo-redo-buttons {
    display: none !important;
  }
  .dropdown-menu-button {
    height: 44px !important;
    width: 44px !important;
    border-radius: 0.5rem 0 0 0.5rem !important;
  }

  .App-toolbar {
    border-radius: 0 0.5rem 0.5rem 0 !important;
  }
}
