@import url("https://fonts.googleapis.com/css2?family=Prosto+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
}

/* TOGGLE */
.toggle-off {
  background: #8f8f8f;
  height: 27px;
}

.toggle-on {
  background: #1e1e1e;
  height: 27px;
}

.toggle-left {
  transform: translateX(0px);
}

.toggle-right {
  transform: translateX(22px);
}
